## .NET
bin/
obj/
publish/

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
*.nupkg
.nuget/

## Visual Studio
.vs/
*.vcxproj.filters
launchSettings.json

## Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
